[submodule "pyannote-audio-train"]
	path = pyannote-audio-train
	url = https://github.com/neleSuffo/pyannote-audio-train
[submodule "mmaction2"]
	path = mmaction2
	url = https://github.com/neleSuffo/mmaction2
[submodule "voice-type-classifier"]
	path = voice-type-classifier
	url = https://github.com/neleSuffo/voice-type-classifier.git
